body{
    background: url(img/bg_encrypter.png);
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

#logo{
    margin: 20px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seccion1{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 100px;
    padding: 20px;
    color: white;
}

.seccion1 textarea{
    padding: 20px;
    resize: none;
    background: #00000066;
    border:none;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 400;
    line-height: 48px;  
    outline: none;
    text-shadow: 0px 4px 8px rgb(0, 217, 255);
    box-shadow: 10px 4px 20px rgb(0, 217, 255);
}

.seccion1 img{
    width: 12px;
    height: 12px;
    margin-right: 5px;
    filter: drop-shadow( 0px 2px 4px rgb(0, 217, 255));

}

.seccion1 label{
    margin-top: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 4px 8px rgb(0, 217, 255);
}

.contenedor-botones{
    display: flex;
    margin: 20px;
}

.botones{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    font-size: 18px;
}

#Encriptar{
    background: #0a3871a7;
    border: none;
    color: #F3F5FC;
    margin-right: 15px;
    box-shadow: 0px 0px 15px rgb(0, 217, 255);
}

#Encriptar:hover,#Desencriptar:hover, #copy:hover{
    color:black;
    background-color: #F3F5FC;
    transform: scale(1.05);
    border: 1px solid black;
    transition: 0.3s;
}

#Desencriptar{
    color: #fff;
    background: none;
    border: 1px solid 0A3871;
    box-shadow: 0px 0px 15px rgb(0, 217, 255);
}

.seccion2{
    width: 25%;
    height: 70vh;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: #00000066;
    padding: 20px;
    border-radius: 32px;
    text-shadow: 0px 4px 8px rgb(0, 217, 255);
    box-shadow: 10px 4px 20px rgb(0, 217, 255);
}

.encryptedText{
    display: none;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #F3F5FC;
    font-size: 24px;
    position: relative;
    outline: none;
    background: none;
    border: none;
    resize: none;
    padding: 24px;
    text-shadow: 0px 4px 8px rgb(0, 217, 255);
}

.no-encontrado{
    flex-direction: column;
    width: 336px;
    height: 122px;
    gap: 16px;
}

.no-encontrado h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: #F3F5FC;
}

.no-encontrado p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F3F5FC;
}

.seccion2 button{
    visibility: hidden;
    position: relative;
    width: 328px;
    height: 70px;
    border-radius: 24px;
    background: none;
    border: 1px solid #0A3871;
    color: #F3F5FC;
    margin-top: auto;
    box-shadow: 0px 0px 15px rgb(0, 217, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    bottom: 10px;
    justify-content: center;
    align-items: center;
}

footer h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 10px;
    text-shadow: 0px 4px 8px rgb(0, 217, 255);
    color: #F3F5FC;
}

footer img{
    width: 40px;
    height: 40px;
}

.contenedor-redes-sociales{
    filter: drop-shadow( 0px 1px 9px rgb(0, 217, 255));
}

@media screen and (max-width:480px){
    body{
        background-image: url(img/bg_encrypter_movil.png);
        background-position: center;
        background-size: cover;
        background-repeat: none;
        width: auto;
        margin: 0 auto;
        flex: 1;
    }

    main{
        flex-direction: column;
        width: auto;
    }

    .seccion1{
        margin-left: 0;
        width: auto;
        height: 40vh;
    }

    .seccion2{
        width: auto;
        height: 20vh;
        margin-right: 0;
        margin: 20px;
    }

    #muñeco{
        display: none;
    }

    footer{
        position: relative;
        bottom: 10px;
    }
}