body{
    background-image:url(img/bg_encrypter.png);
    background-size: contain;
    background-position: center;
}

#logo{
    position: relative;
    width: 120px;
    height: 48px;
    top: 40px;
    left: 40px;
    gap: 40px;
    filter: drop-shadow( 0px 1px 9px rgb(0, 217, 255));
}

main{
    display: flex;
    justify-content: space-around;
}

.seccion1{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 150px;
    min-height: 80vh;
}

.seccion1 textarea{
    padding: 20px;
    margin-top: 100px;
    resize: none;
    background: #00000066;
    border:none;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 400;
    line-height: 48px;  
    outline: none;
    text-shadow: 0px 4px 8px rgb(0, 217, 255);
    box-shadow: 10px 4px 20px rgb(0, 217, 255);
}

.seccion1 textarea::placeholder{
    color: #bbbbbb;
}

.seccion1 label{
    color: #F3F5FC;
    position: absolute;
    bottom: calc(100vh - 73%);
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 4px 8px rgb(0, 217, 255);
}

.seccion1 img{
    width: 12px;
    height: 12px;
    margin-right: 5px;
    filter: drop-shadow( 0px 4px 4px rgb(255, 255, 255));

}

.contenedor-botones{
    position: absolute;
    width: 50%;
    bottom: calc(100vh - 85%);
}

.botones{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    font-size: 18px;
}

#Encriptar{
    background: #0a3871a7;
    border: none;
    color: #F3F5FC;
    margin-right: 15px;
    box-shadow: 0px 0px 15px rgb(0, 217, 255);
}

#Encriptar:hover,#Desencriptar:hover, #copy:hover{
    color:black;
    background-color: #F3F5FC;
    transform: scale(1.05);
    border: 1px solid black;
    transition: 0.3s;
}

#Desencriptar{
    color: #fff;
    background: none;
    border: 1px solid 0A3871;
    box-shadow: 0px 0px 15px rgb(0, 217, 255);
}

.seccion2{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #00000066;
    padding: 10px;
    border-radius: 32px;
    text-shadow: 0px 4px 8px rgb(0, 217, 255);
    box-shadow: 10px 4px 20px rgb(0, 217, 255);
}

.encryptedText{
    display: none;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #F3F5FC;
    font-size: 24px;
    position: relative;
    outline: none;
    background: none;
    border: none;
    resize: none;
    padding: 24px;
    text-shadow: 0px 4px 8px rgb(0, 217, 255);
}

.no-encontrado{
    flex-direction: column;
    width: 336px;
    height: 122px;
    gap: 16px;
}

.no-encontrado h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: #F3F5FC;
}

.no-encontrado p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F3F5FC;
}

.seccion2 button{
    visibility: hidden;
    position: absolute;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background: none;
    border: 1p solid #0A3871;
    color: #F3F5FC;
    bottom: calc(100vh - 85%);
    box-shadow: 0px 0px 15px rgb(0, 217, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

footer{
    width: 100%;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 10px;
    text-shadow: 0px 4px 8px rgb(0, 217, 255);
    color: #F3F5FC;
}

footer img{
    width: 40px;
    height: 40px;
}

.contenedor-redes-sociales{
    filter: drop-shadow( 0px 1px 9px rgb(0, 217, 255));
}

@media screen and (max-width:768px){

    body{
        background-image: url(img/bg_encrypter_movil.png);
    }

    .seccion1{
        display: flex;
        flex-direction: column;
        width: 85%;
        padding-left: 40px;
        min-height: 80vh;
    }

    .seccion1 label{
        position: absolute;
        bottom: calc(100vh - 55%);
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .contenedor-botones{
        position: absolute;
        width: 85%;
        bottom: calc(100vh - 65%);
    }

    .botones{
        width: 300px;
        height: 67px;
        border-radius: 24px;
        padding: 24px;
        gap: 8px;
        font-size: 18px;
    }

    .seccion2{
        display: flex;
        position: absolute;
        width: 90%;
        height: 15vh;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 32px;
        bottom: calc(100vh - 90%);;
    }

    .seccion2 textarea{
        display: none;
        width: 85%;
        text-align: center;
    }
    
    .seccion2 img{
        display: none;
    }

    .seccion2 button{
        visibility: hidden;
        position: absolute;
        width: 300px;
        height: 67px;
        border-radius: 24px;
        border: 1px solid #0A3871;
        color: #F3F5FC;
        bottom: 25px;
    }

    footer{
        width: 100%;
        text-align: center;
        position: absolute;
        width: 100%;
    }
}

@media screen and (max-width:430px){
    body{
        background-image: url(img/bg_encrypter_movil.png);
    }
    
    .seccion1{
        padding: 0px;
    }

    .seccion1 label{
        width: 85%;
        text-align: center;
        bottom: calc(100vh - 47%);
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .seccion1 textarea{
        height: 20vh;
    }

    .contenedor-botones{
        position: absolute;
        text-align: center;
        bottom: calc(100vh - 66%);
    }

    #Encriptar{
        background: #0A3871;
        border: none;
        color: #F3F5FC;
        margin-bottom: 15px;
    }

    .seccion2{
        width: 80%;
    }

    .seccion2 textarea{
        display: none;
        height: 8vh;
    }

    .seccion2 button{
        visibility: hidden;
        position: absolute;
        display: block;
        width: 300px;
        height: 67px;
        border-radius: 24px;
        border: 1px solid #0A3871;
        color: #F3F5FC;
        bottom: 15px;
    }

    footer{
        width: 100%;
        text-align: center;
        position: absolute;
        width: 100%;
    }
}